// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
} 
.service {
  h3.service-heading {
  font-size: 40px;
  }
  h4.service-heading {
  font-size: 22px;
  }
  p {
  font-size: 20px;
  }
}

